[workspace]
members = [
    "dalang-protocol",
    "server"
]

# https://stackoverflow.com/a/54842093/9613353
[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true

